# --------------------------- #
#         APPLICATIONS        #
# --------------------------- #
{# # Lock the screen
ctrl + alt + l
    betterlockscreen -l dimblur #}

# Terminal Emulator
{% set terminal_key = "ctrl + alt" if (is_vm is not defined or not is_vm) else "ctrl + shift" %}
{{ terminal_key }} + t
    "${TERMINAL}"

# Run 'htop'
{% set htop_key = "Delete" if (is_vm is not defined or not is_vm) else "d" %}
ctrl + alt + {{ htop_key }}
    "${TERMINAL}" -e htop

# File Browser
super + e
    pcmanfm

# Program Launcher (rofi)
super + {r,s}
    rofi -show {drun,ssh} -display ${DISPLAY}
    {# # dmenu_run -c -l 20 -fn '{{ fonts.preferred.name }}-{{ fonts.preferred.size }}' #}

Print
    flameshot gui

super + n; {_,shift + }f
    firefox {_,--private-window}
{% if applications.opera is defined and applications.opera %}

# Opera Browser
super + n; {_,shift + }o
    opera {_,--private}
{% endif %}
{% if applications.brave is defined and applications.brave %}

# BraveBrowser
super + n; {_,shift + }b
{% set brave_cmd = "brave-browser" if ansible_distribution == "Ubuntu" else "brave" %}
    {{ brave_cmd }} {_,--incognito}
{% endif %}
{% if applications.chrome is defined and applications.chrome %}

# Chrome Browser
super + n; {_,shift + }c
    google-chrome {_,--incognito}
{% endif %}


# Reload polybar Configuration
super + p
    {{ user_dirs.config }}/polybar/launch.sh


# Reload 'sxhkd' Configuration
super + Escape
    pkill -USR1 -x sxhkd; notify-send "sxhkd restarted"


#
# bspwm hotkeys
#

# quit/restart bspwm
super + alt + {q,r}
        bspc {quit,wm -r}

# close and kill
super + {_,shift + }w
        bspc node -{c,k}

# alternate between the tiled and monocle layout
super + m
        bspc desktop -l next

# send the newest marked node to the newest preselected node
super + y
        bspc node newest.marked.local -n newest.!automatic.local

# swap the current node and the biggest node
super + g
        bspc node -s biggest

#
# state/flags
#

# set the window state
super + {t,shift + t,s,f}
        bspc node -t {tiled,pseudo_tiled,floating,fullscreen}

# set the node flags
super + ctrl + {m,x,y,z}
        bspc node -g {marked,locked,sticky,private}

#
# focus/swap
#

# focus the node in the given direction
super + {_,shift + }{h,j,k,l}
        bspc node -{f,s} {west,south,north,east}

# focus the node for the given path jump
super + {p,b,comma,period}
        bspc node -f @{parent,brother,first,second}

# focus the next/previous node in the current desktop
super + {_,shift + }c
        bspc node -f {next,prev}.local

# focus the next/previous desktop in the current monitor
super + bracket{left,right}
        bspc desktop -f {prev,next}.local

# focus the last node/desktop
super + {grave,Tab}
        bspc {node,desktop} -f last

# focus the older or newer node in the focus history
super + {o,i}
        bspc wm -h off; \
        bspc node {older,newer} -f; \
        bspc wm -h on

# focus or send to the given desktop
super + {_,shift + }{1-9,0}
        bspc {desktop -f,node -d} '^{1-9,10}'

# Ubuntu-esq shortcut for moving between adjacent "workspaces"
ctrl + alt + {Left,Right}
    bspc desktop --focus {prev,next}

# Ubuntu-esq shortcut for moving nodes between adjacent desktops
ctrl + alt + shift + {Left,Right}
    bspc node --to-desktop {prev,next} --follow


#
# preselect
#

# preselect the direction
super + ctrl + {h,j,k,l}
        bspc node -p {west,south,north,east}

# preselect the ratio
super + ctrl + {1-9}
        bspc node -o 0.{1-9}

# cancel the preselection for the focused node
super + ctrl + space
        bspc node -p cancel

# cancel the preselection for the focused desktop
super + ctrl + shift + space
        bspc query -N -d | xargs -I id -n 1 bspc node id -p cancel

#
# move/resize
#

# expand a window by moving one of its side outward
super + alt + {h,j,k,l}
        bspc node -z {left -20 0,bottom 0 20,top 0 -20,right 20 0}

# contract a window by moving one of its side inward
super + alt + shift + {h,j,k,l}
        bspc node -z {right -20 0,top 0 20,bottom 0 -20,left 20 0}

# move a floating window
super + {Left,Down,Up,Right}
        bspc node -v {-20 0,0 20,0 -20,20 0}
