# Created and maintained by ansible.

{% for input in xinput_mouse %}
Section "InputClass"
    Identifier "{{ input.name}}"
    MatchProduct "{{ input.match_product }}"
{% for option in input.options %}
    Option "{{ option.option }}" "{{ option.value }}"
{% endfor -%}
EndSection

{% endfor %}
