! special
*.background:  {{ colour_palette.background }}
*.foreground:  {{ colour_palette.foreground }}
*.cursorColor: {{ colour_palette.cursor }}

{% for colours in colour_palette.palettes %}
! {{ colours.colour }}
{% for palette in colours.palette %}
*.{{ palette.name }}:  {{ palette.colour }}
{% endfor %}

{% endfor %}
