" auto-install vim-plug
if empty(glob('{{ vim_data_dir }}/site/autoload/plug.vim'))
  silent !curl -fLo {{ vim_data_dir }}/site/autoload/plug.vim --create-dirs https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
  autocmd VimEnter * PlugInstall
endif

call plug#begin('{{ vim_data_dir }}/site/autoload/plugged')
    "Markdown Live Previewer
    Plug 'iamcco/markdown-preview.nvim', { 'do': { -> mkdp#util#install() }, 'for': ['markdown', 'vim-plug']}
call plug#end()


let g:mkdp_browser = 'firefox'
let g:mkdp_auto_close = 1
