[Desktop Entry]
Name={{ desktop.name }}
StartupWMClass={{ desktop.name | lower() }}
Comment={{ desktop.comment | default("") }}
GenericName={{ desktop.generic_name | default("") }}
Exec={{ desktop.exec_path }}
{% if desktop.icon_name is defined %}
Icon={{ desktop.icon_name }}
{% endif %}
Type={{ desktop.type | default("Application") }}
Categories={{ desktop.categories }}
Path={{ deskop.path | default("/usr/bin") }}
