# ------------------------- #
#          PLUGINS          #
# ------------------------- #
{% for plugin in zsh_plugins %}
[ -f "{{ zsh_plugins_dir }}/{{ plugin.name }}/{{ plugin.name }}.zsh" ] &&
    source "{{ zsh_plugins_dir }}/{{ plugin.name }}/{{ plugin.name }}.zsh"

{% endfor %}

# ------------------------- #
#       TAB COMPLETION      #
# ------------------------- #
autoload -U compinit
zstyle ':completion:*' menu select

# case insensitive matching
zstyle ':completion:*' matcher-list '' 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=*' 'l:|=* r:|=*'

zstyle ':completion:*:descriptions' format '%U%B%d%b%u'
zstyle ':completion:*:warnings' format '%BSorry, no matches for: %d%b'

zmodload zsh/complist
compinit
# incude hidden files in autocomplete:
_comp_options+=(globdots)

# bash completion
autoload bashcompinit && bashcompinit

{# {% if tools.aws is not defined or tools.aws %}
# AWS CLI command completion.
AWS_COMPLETION=$(command -v aws_completer)
[ -n "${AWS_COMPLETION}" ] && complete -C "${AWS_COMPLETION}" aws
{% endif %} #}


# ------------------------- #
#          HISTORY          #
# ------------------------- #
HISTSIZE={{ zsh_history.HISTSIZE }}
SAVEHIST={{ zsh_history.SAVEHIST }}
HISTFILE={{ zsh_history.HISTFILE }}
# ignore duplicate commands in a single shell session
setopt hist_ignore_all_dups
# don't save commands which start with a space in the history
setopt hist_ignore_space


# prompt colours
autoload -U colors && colors

[ -f "${ZDOTDIR}/aliases.zsh" ] && source "${ZDOTDIR}/aliases.zsh"
[ -f "${ZDOTDIR}/bindkeys.zsh" ] && source "${ZDOTDIR}/bindkeys.zsh"
[ -f "${ZDOTDIR}/ext-aliases.zsh" ] && source "${ZDOTDIR}/ext-aliases.zsh"
[ -f "${ZDOTDIR}/functions.zsh" ] && source "${ZDOTDIR}/functions.zsh"
[ -f "${ZDOTDIR}/git-status.zsh" ] && source "${ZDOTDIR}/git-status.zsh"
[ -f "${ZDOTDIR}/my-theme.zsh" ] && source "${ZDOTDIR}/my-theme.zsh"
[ -f "${ZDOTDIR}/vi-mode.zsh" ] && source "${ZDOTDIR}/vi-mode.zsh"
