# ------------------------- #
#          ALIASES          #
# ------------------------- #
alias ls="ls --color -F"
alias ll="ls --color -lh"
{% set bat_cmd = "batcat" if ansible_distribution == "Ubuntu" else "bat" %}
alias cat="{{ bat_cmd }}"

# alias vim="vim -u ${XDG_CONFIG_HOME}/vim/.vimrc"
alias vim="nvim"
alias tmux="tmux -f ${XDG_CONFIG_HOME}/tmux/.tmux.conf"


# Python Aliases
alias black="black -l 120"
alias flake8="flake8 --max-line-length 120"
alias user-venv="source ${XDG_DATA_HOME}/venv/bin/activate"


{# {%- if install_go is defined %}
# Golang Aliases
alias gocode="cd {{ src_dir }}/gocode/"
alias golib="cd {{ src_dir }}/golib/"
{%- endif %} #}
