# -------------------------- #
#        KEY BINDINGS        #
# -------------------------- #

# ensure VIM key bindings are used...
bindkey -v

# old emac style bindings that I"m used to...
{% for binding in zsh_key_bindings %}
bindkey -M viins "{{ binding.binding }}" {{ binding.action }}
bindkey -M vicmd "{{ binding.binding }}" {{ binding.action }}
{% endfor %}
